
#toolbar {
  display: inline-block;
  width: 0;
  height: 100%;
  overflow: hidden;

  background-color: #364652;

  -webkit-box-shadow: -4px 0px 21px 0px rgba(200,184,219,1);
  -moz-box-shadow: -4px 0px 21px 0px rgba(200,184,219,1);
  box-shadow: -4px 0px 21px 0px rgba(200,184,219,1);

  transition: width 0.75s;

  &.active {
    transition: width 0.75s;
    width: 22%;
  }

  #header {
    background-color: #F9F4F5;
    color: #071108;
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
    position: relative;
    font-size: 1.2em;
    line-height: 30px;
    border-bottom: 1px solid #502F4C;
  }

  a {
    color: #F9F4F5;
    text-decoration: none;
  }
}
